<div class="bg-background h-full flex flex-col items-center w-full">

  <app-secondary-title
    [text]="'Chatbot AI for Healthcare Triage'"
    class="h-fit mt-5" />

  <main class="w-full flex flex-col items-center mt-5 h-full">

    @if (chatService.getUserChatMessages().length === 0) {
      <app-welcome-card
        class="h-full w-full flex"/>
    }
    @else {
      <app-messages-card
        class="w-full" />
    }

  </main>

  <app-chat-field
      class="w-full h-fit"
      (submit)="onSubmit($event)" />
</div>
