<div class="bg-background h-full flex flex-col items-center w-full">

  <app-main-header />

  <main class="w-full flex flex-col items-center mt-5 h-full">

    @if (chatService.getUserChatMessages().length === 0) {
      <app-welcome-card
        class="h-full w-full flex"/>
    }
    @else {
      <app-messages-card
        class="!w-full !h-full" />
    }

    @if (isLoading()) {

      <app-progress-bar />
    }

  </main>

  <app-chat-field
      class="w-full h-fit"
      (submit)="onSubmit($event)" />
</div>
