<mat-card appearance="outlined" class="w-full h-full shadow-lg">
  <mat-card-header>
    <mat-card-title style="font-family: 'Montserrat';" class="text-primary !font-semibold !text-3xl" [class]="animation()" >{{ title() }}</mat-card-title>
    <mat-card-subtitle style="font-family: 'Montserrat';" class="!text-xl" >{{ price() }} € / mês</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="!flex flex-col">
    <span style="font-family: 'Montserrat'; white-space: pre-wrap;" class="!text-lg text-secondary" >{{ description() }}</span>
    <span style="font-family: 'Montserrat'; white-space: pre-wrap;" class="!text-md text-secondary font-light mt-4">{{ additionalInfo() }}</span>
  </mat-card-content>
</mat-card>
