<mat-form-field appearance="outline" class="!w-full">
  <mat-label style="font-family: 'Montserrat';">Palavra-passe</mat-label>
  <input
    style="font-family: 'Montserrat';"
    matInput [type]="hide() ? 'password' : 'text'"
    [(ngModel)]="text"
    (input)="onInputChange()"/>
  <button
    mat-icon-button
    matSuffix
    (click)="clickEvent($event)"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide()"
  >
    <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
</mat-form-field>
