<mat-form-field appearance="outline" class="!w-full">
  <mat-label style="font-family: 'Montserrat';">{{ label() }}</mat-label>
  <input
    style="font-family: 'Montserrat';"
    matInput
    [(ngModel)]="text"
    (input)="onInputChange()"
    #textInput="ngModel"
    [pattern]="textInputPattern"
    required
  >
  <mat-icon matSuffix>{{ icon() }}</mat-icon>
  @if (textInput.invalid && textInput.touched) {
    <mat-error
      style="font-family: 'Montserrat';"
    >
      {{ getErrorMessage(textInput) }}
    </mat-error>
  }
</mat-form-field>
