<div class="w-full h-full overflow-hidden">
  <app-sidenav
    #sidenav
    class="!w-fit !h-full !absolute left-0 top-0 !z-20" />

  <div
    class="absolute top-0 left-0 w-full h-full bg-background z-10 opacity-50"
    [class]="isNavOpen() ? 'block' : 'hidden'"
  ></div>

  <button
    mat-icon-button
    (click)="toggleSidenav()"
    class="!absolute top-3 left-1 xs:left-3 xs:top-1 sm:top-1 sm:left-5 md:top-2 3xl:top-1 !z-50"
  >
    <mat-icon
      class="text-primary text-sm xs:text-2xl 3xl:text-3xl"
      [class]="isNavOpen() ?  'animate-bounce' : ''"
    >{{ icon() }} </mat-icon>
  </button>
</div>
