<mat-form-field appearance="fill" class="!w-full !px-10">
  <textarea
    style="font-family: 'Montserrat';"
    matInput
    [(ngModel)]="text"
    rows="2"
    oninput="this.rows = this.value ? Math.min(this.scrollHeight / 20, 10) : 2;"
    class="!resize-none !text-onBackground !text-lg"
    placeholder="Mensagem Chatbot AI for Healthcare Triage"
    autofocus
  ></textarea>
  <button
    matSuffix
    mat-icon-button
    class="!mx-4"
    (click)="onSubmit()"
  >
    <mat-icon matSuffix class="text-primary">send</mat-icon>
  </button>
</mat-form-field>
