<div class="bg-background h-full flex flex-col items-center w-full">

  <app-logo
    class="w-16 mt-10" />

  <main class="w-full flex flex-col justify-center items-center h-full">
    <app-primary-title
      [text]="'Criar uma conta'"
      class="mb-10" />

    <app-text-field-icon
      [label]="'Nome de utilizador'"
      [icon]="'badge'"
      (valueChange)="onUsernameChange($event)"
      class="w-1/2" />

    <app-text-field-icon
      [label]="'Endereço de e-mail'"
      [icon]="'email'"
      (valueChange)="onEmailChange($event)"
      class="w-1/2" />

    <app-password-field
      (valueChange)="onPasswordChange($event)"
      class="w-1/2" />

    <app-main-submit-button
      [buttonText]="'Continuar'"
      (onClick)="onSubmit()"
      class="mt-10 w-1/2" />

    <app-text-with-link
      [text]="'Já tem uma conta? '"
      [linkText]="'Iniciar sessão'"
      [link]="'/login'" />

    <app-text-divider
      class="w-full"
      [text]="'OU'" />

    <app-external-login-button
      [buttonText]="'Continuar com Google'"
      [replyLink]="'/'"
      [icon]="'google_icon'"
      class="w-1/2" />
  </main>
</div>
