<div class="bg-background h-full flex flex-col items-center w-full scroller">

  <app-main-header />

  <main class="w-full flex flex-col items-center mt-5 h-full">

    <app-primary-title
      [text]="'Atualize o seu plano'"
      class="mt-14 lg:mt-20" />

    <div
      class="w-full flex flex-1 justify-center items-center mb-20 px-4 mt-5"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
        <app-plan-card
        class="!w-full !h-full"
        [title]="freePlanTitle()"
        [price]="freePlanPrice()"
        [description]="freePlanDescription()"
        [additionalInfo]="freePlanAdditionalInfo()" />

        <app-plan-card
          class="!h-full !w-full"
          [title]="vipPlanTitle()"
          [price]="vipPlanPrice()"
          [description]="vipPlanDescription()"
          [additionalInfo]="vipPlanAdditionalInfo()"
          [animation]="'animate-pulse'" />
      </div>
    </div>

    <div class="w-full flex justify-center mb-20 px-10">
      <span class="text-onBackground text-xs xs:text-sm xl:text-xl text-light text-center">Atenção: o serviço de pagamento eletronico está em implementação.
        Se você deseja atualizar o seu plano, envie um email para <a href="mailto:a18824@alunos.ipca.pt">{{ email() }}</a>
        para mais informações.</span>
    </div>

  </main>
</div>
